@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

// Body
$light: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #1e77c0;
$black: #0f0f0f;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
