@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500&display=swap);
body {
  background-color: #f8fafc;
  /* 
  background-image: url('/img/2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px); */
  font-family: "Roboto", sans-serif;
  color: #0f0f0f;
}

.container {
  width: 80%;
  margin: auto;
  padding: 3em;
}

.container--with-form h1 {
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5em;
  box-shadow: 0 1px 5px 0 rgba(30, 119, 192, 0.8);
  background-color: #FFF;
  color: #f8fafc;
}

.main-header__logo {
  width: 120px;
}

.main-header .main-nav {
  font-size: 1.2rem;
  text-align: center;
}

.main-header .main-nav__item {
  display: inline-block;
  padding: 0.5em;
  display: inline-block;
}

.main-header .main-nav__item:not(:last-child) {
  margin-right: 20px;
}

.main-header .main-nav__item a {
  color: #1e77c0;
}

h1 {
  margin-bottom: 1.3em;
}

.organization {
  margin-bottom: 3.5em;
  border-left: 10px solid #1e77c0;
}

.organization__title {
  margin-bottom: 1em;
  font-size: 2rem;
  /*    background-color: $blue; */
  /* border-bottom: 1px solid $blue; */
  padding: 0 1em;
}

.events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 1em;
       column-gap: 1em;
  row-gap: 1.5em;
  padding: 2em;
  width: 100%;
}

.events-filters {
  margin-bottom: 3em;
}

.events-filters label {
  margin-right: 0.5em;
}

.events-filters select,
.events-filters input {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid #6cb2eb;
}

.events-filters input[type=date] {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.events-filters .events-filters__search {
  width: 100%;
  margin-bottom: 2em;
  padding: 0.8em;
  border: 1px solid #6cb2eb;
}

.events .event {
  width: 31%;
  max-width: 400px;
  min-width: 390px;
  background-color: #FFF;
  transition: 0.3s;
  border: 1px solid #6cb2eb;
  text-align: center;
  position: relative;
}

.events .event:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.events .event__edit {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0.5em 1.2em;
  background: #FFF;
  border: 1px solid #e3342f;
  color: #e3342f;
  border-radius: 0 0 0 32px;
  transition: 0.3s;
  z-index: 1;
}

.events .event__edit:hover,
.events .event__edit:active {
  background: #e3342f;
  color: #FFF;
}

.events .event__header {
  height: 180px;
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  text-align: center;
}

.events .event__header-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.events .event__header-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 180px;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.events .event__body {
  padding: 1em;
  padding-top: 1.3em;
}

.events .event__info {
  height: 240px;
}

.events .event__title {
  font-size: 1.2rem;
  margin-bottom: 0.6em;
}

.events .event__format {
  color: #6cb2eb;
}

.events .event__enrollers-count {
  margin-bottom: 10px;
}

.events .event__enrollers-count span {
  font-size: 1.2rem;
  color: #6cb2eb;
}

.events .event__links {
  display: flex;
  justify-content: space-between;
}

button {
  display: block;
}

button:hover,
button:active {
  cursor: pointer;
}

button:disabled,
button[disabled] {
  color: #fff;
  background: #d5d5d5;
  border: none;
}

.btn {
  display: block;
  padding: 1em 0.5em;
  margin-top: 0.6em;
  text-align: center;
  transition: 0.3s;
}

.btn-red {
  background-color: #FFF;
  border: 1px solid #e3342f;
  color: #e3342f;
  width: 49%;
}

.btn-red:hover,
.btn-red:active {
  background-color: #e3342f;
  color: #FFF;
}

.btn-filled {
  background-color: #e3342f;
  border: 1px solid #e3342f;
  color: #FFF;
  width: 49%;
}

.btn-filled:hover,
.btn-filled:active {
  background-color: #aa201b;
}

.btn-blue {
  background-color: #FFF;
  border: 1px solid #1e77c0;
  color: #1e77c0;
}

.btn-blue:hover,
.btn-blue:active {
  background-color: #1e77c0;
  color: #FFF;
}

.modal-buttons-flex {
  display: flex;
  justify-content: space-between;
}

.modal-buttons-flex button {
  width: 45%;
}

.event-title {
  margin-bottom: 2em;
}

/***  Admin   ***/

/** add event **/

.form {
  width: 600px;
  margin: auto;
}

.form-control {
  margin-bottom: 1.5em;
  width: 100%;
}

.form-control.invalid small {
  display: block;
  color: #e3342f;
  margin-top: 10px;
}

.form-control.invalid input,
.form-control.invalid textarea,
.form-control.invalid select {
  border: 1px solid #e3342f;
}

.form label {
  display: block;
  margin-bottom: 0.6em;
}

.form input,
.form textarea,
.form select {
  padding: 0.8em;
  border: 1px solid #6cb2eb;
  width: 100%;
}

.form .another-format {
  margin-top: 0.8em;
}

.enroll-form {
  width: 100%;
}

.enroll-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 35%;
  min-width: 400px;
  max-height: 85vh;
  margin: 5% auto;
  padding: 3em;
  overflow: scroll;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  z-index: 1000;
}

.enroll-modal h2 {
  margin-bottom: 2em;
}

.modal {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1em;
  right: 0.8em;
  cursor: pointer;
  margin-left: 0.5em;
}

.modal-overlay {
  position: fixed;
  overflow: auto;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-event {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  /*   p{
        display: flex;
        justify-content: space-between;
    } */
}

.about-event p {
  margin-bottom: 0.8em;
}

.about-event h2 {
  margin-bottom: 2em;
}

.about-event__card {
  background: #FFF;
  padding: 2em;
  margin-bottom: 2em;
  border-top: 5px solid #1e77c0;
  box-shadow: 0px 0px 3px 0 #1e77c0;
}

.about-event__info {
  width: 40%;
}

.about-event__subtitle {
  font-size: 1.1rem;
  margin-right: 5px;
  font-weight: bold;
  width: 211px;
  display: inline-block;
}

.about-event img {
  width: 55%;
}

.edit-event-form__buttons {
  display: flex;
  justify-content: space-between;
}

.edit-event-form__buttons button {
  width: 200px;
}

.edit-event-form__delete-btn {
  color: #e3342f;
}

.auth-heading {
  text-align: center;
}

.auth-form__btn {
  width: 130px;
}

@media screen and (max-width: 1450px) {
  .container {
    width: 90%;
  }

  .about-event__subtitle {
    font-size: 1.1rem;
    margin-right: 0;
    margin-bottom: 6px;
    font-weight: bold;
    width: 100%;
    color: #1e77c0;
  }
}

@media screen and (max-width: 946px) {
  h1 {
    font-size: 1.7rem;
  }

  .about-event {
    flex-direction: column-reverse;
  }

  .about-event__info {
    width: 100%;
  }

  .about-event__card {
    width: 100%;
  }

  .about-event img {
    width: 100%;
  }

  .about-event h2 {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 690px) {
  h1 {
    font-size: 1.5rem;
  }

  .form {
    width: 100%;
  }

  .events .event {
    min-width: 100%;
  }

  .events .event__links {
    flex-direction: column;
  }

  .events .event__links a {
    width: 100%;
  }

  .event-title {
    margin-bottom: 0.8em;
  }

  .organization__title {
    margin-bottom: 0;
  }

  .about-event h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7em;
  }

  .container {
    width: 100%;
    padding: 1.5em;
  }

  .main-header {
    padding: 1em;
  }

  .main-header__logo {
    width: 90px;
  }

  .main-header .main-nav {
    font-size: 1rem;
  }

  .enroll-modal {
    min-width: 100%;
  }
}


