@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500&display=swap);
body {
  background-color: #f8fafc;
  /*   background-image: url('/img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px); */
  font-family: "Roboto", sans-serif;
  color: #0f0f0f;
}

.container {
  width: 80%;
  margin: auto;
  padding: 3em;
}

.container--with-form h1 {
  text-align: center;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5em;
  box-shadow: 0 1px 5px 0 rgba(30, 119, 192, 0.8);
  background-color: #FFF;
  color: #f8fafc;
}

.main-header__logo {
  width: 120px;
}

.main-header .main-nav__item {
  display: inline-block;
  padding: 0.5em;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  font-weight: regular;
}

.main-header .main-nav__item:not(:last-child) {
  margin-right: 20px;
}

.main-header .main-nav__item a {
  color: #1e77c0;
}

h1 {
  margin-bottom: 1.3em;
}

.events {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  -moz-column-gap: 1em;
       column-gap: 1em;
  row-gap: 1.5em;
  width: 100%;
}

.events-filters {
  margin-bottom: 3em;
}

.events-filters label {
  margin-right: 0.5em;
}

.events-filters select,
.events-filters input {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  padding: 0.5em;
  border: 1px solid #6cb2eb;
}

.events-filters input[type=date] {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.events-filters .events-filters__search {
  width: 100%;
  margin-bottom: 2em;
  padding: 0.8em;
  border: 1px solid #6cb2eb;
}

.events .event {
  width: 31%;
  max-width: 400px;
  min-width: 390px;
  background-color: #FFF;
  transition: 0.3s;
  border: 1px solid #6cb2eb;
  text-align: center;
}

.events .event:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.events .event__date {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  font-size: 2rem;
  font-weight: bold;
  background-color: #6cb2eb;
  color: #FFF;
  text-align: center;
  padding: 1em;
}

.events .event__body {
  padding: 1em;
  padding-top: 1.3em;
}

.events .event__info {
  height: 250px;
}

.events .event__title {
  font-size: 1.2rem;
  margin-bottom: 0.6em;
}

.events .event__format {
  color: #6cb2eb;
}

.events .event__links {
  display: flex;
  justify-content: space-between;
}

.events .event__links a {
  display: block;
  background-color: #e3342f;
  border: 1px solid #e3342f;
  padding: 1em 0.5em;
  color: #FFF;
  text-align: center;
  transition: 0.3s;
  width: 49%;
}

.events .event__links a:hover,
.events .event__links a:active {
  background-color: #FFF;
  color: #e3342f;
}

.events .event__links a:first-child {
  background-color: #FFF;
  color: #e3342f;
}

.events .event__links a:first-child:hover,
.events .event__links a:first-child:active {
  background-color: #e3342f;
  color: #FFF;
}

/***  Admin   ***/

/** add event **/

.form {
  width: 600px;
  margin: auto;
}

.form-control {
  margin-bottom: 1.5em;
  width: 100%;
}

.form-control.invalid small {
  display: block;
  color: #e3342f;
  margin-top: 10px;
}

.form-control.invalid input,
.form-control.invalid textarea,
.form-control.invalid select {
  border: 1px solid #e3342f;
}

.form label {
  display: block;
  margin-bottom: 0.6em;
}

.form input,
.form textarea,
.form select {
  padding: 0.8em;
  border: 1px solid #6cb2eb;
  width: 100%;
}

.form .another-format {
  margin-top: 0.8em;
}

.form button {
  display: block;
  background-color: #FFF;
  /* margin-left: auto; */
  color: #1e77c0;
  border: 1px solid #1e77c0;
  padding: 0.8em;
  transition: 0.3s;
  margin-top: 0.6em;
}

.form button:hover,
.form button:active {
  cursor: pointer;
  background-color: #1e77c0;
  color: #FFF;
}

.form button:disabled,
.form button[disabled] {
  color: #fff;
  background: #d5d5d5;
  border: none;
}

.enroll-form {
  width: 100%;
}

.enroll-modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  width: 35%;
  min-width: 400px;
  max-height: 85vh;
  margin: 5% auto;
  padding: 3em;
  overflow: scroll;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  z-index: 1000;
}

.enroll-modal h2 {
  margin-bottom: 2em;
}

.modal {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1em;
  right: 0.8em;
  cursor: pointer;
  margin-left: 0.5em;
}

.modal-overlay {
  position: fixed;
  overflow: auto;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.about-event {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.about-event p {
  margin-bottom: 0.8em;
}

.about-event h2 {
  margin-top: 2em;
}

.about-event__info {
  width: 40%;
}

.about-event__subtitle {
  font-size: 1.1rem;
  margin-right: 5px;
  font-weight: bold;
}

.about-event img {
  width: 55%;
}

.auth-heading {
  text-align: center;
}


